MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1_summary.html
MachXO2/Examples/VHDL/LED_Scanner/LED_Scanner1.sty
MachXO2/Examples/VHDL/LED_Scanner/LED_Scanner.lpf
MachXO2/Examples/VHDL/LED_Scanner/.recovery
MachXO2/Examples/VHDL/LED_Scanner/LED_Scanner.ldf
MachXO2/Examples/VHDL/LED_Scanner/impl1/._Real_._Math_.vhd
MachXO2/Examples/VHDL/LED_Scanner/impl1/hdla_gen_hierarchy.html
*.xml
*.rpt
*.txt
*.html
*.xdm
*.log
*.prf
*.par
*.pad
*.p3t
*.ngo
*.ngd
*.ncd
*.mrp
*.jed
*.edi
*.asd
*.bgn
*.areasrr
*.alt
*.xcf
*.build_status
*.lpf
*.ldf
*.tcr
*.db
*.tlg
*.srs
*.fdeporig
*.fdep
*.srd
*.hrr
*.cam
*.t2b
*.srr
*.srm
*.srf
*.pt
*.szr
*.2
*.1
*.bak
*.cckTransfer
*.htm
*.plg
MachXO2/Examples/VHDL/LED_Scanner/rev_1/syntmp/open.png
MachXO2/Examples/VHDL/LED_Scanner/rev_1/syntmp/closed.png
MachXO2/Examples/VHDL/LED_Scanner/impl1/xxx_lse_sign_file
MachXO2/Examples/VHDL/LED_Scanner/impl1/xxx_lse_cp_file_list
MachXO2/Examples/VHDL/LED_Scanner/impl1/synlog.tcl
MachXO2/Examples/VHDL/LED_Scanner/impl1/.vdbs/LED_SCANNER_block_rtl.vdb
MachXO2/Examples/VHDL/LED_Scanner/Untitled.tpf
MachXO2/Examples/VHDL/LED_Scanner/LED_Scanner_tb_async_clk.rpt.csv
MachXO2/Examples/VHDL/LED_Scanner/LED_Scanner_tb.ta
MachXO2/Examples/VHDL/LED_Scanner/LED_Scanner.ccl
MachXO2/Examples/VHDL/LED_Scanner/.spreadsheet_view.ini
MachXO2/Examples/VHDL/LED_Scanner/rev_1/synwork/_mh_info
MachXO2/Examples/VHDL/LED_Scanner/impl1/Untitled.tpf.prf_cdmp2
MachXO2/Examples/VHDL/LED_Scanner/impl1/Untitled.tpf.prf_cdmp0
MachXO2/Examples/VHDL/LED_Scanner/impl1/Untitled.tpf.prf_cdmp
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1_lattice.synproj
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1.twr
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1.p2t.tmp0
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1.p2t
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1.mt
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1.lsedata
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1.drc
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1.bit
MachXO2/Examples/VHDL/LED_Scanner/rev_1/synlog/LED_scanner_cck.srr.rptmap
MachXO2/Examples/VHDL/LED_Scanner/rev_1/scratchproject.prs
MachXO2/Examples/VHDL/LED_Scanner/rev_1/LED_scanner.fse
MachXO2/Examples/VHDL/LED_Scanner/rev_1/LED_scanner.edn
MachXO2/Examples/VHDL/LED_Scanner/rev_1/AutoConstraint_LED_SCANNER_block.sdc
MachXO2/Examples/VHDL/LED_Scanner/rev_1/.recordref
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1.arearep
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_SCANNER_block_prim.v
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_SCANNER_block_lse.twr
MachXO2/Examples/VHDL/LED_Scanner/impl1/IBIS/LED_Scanner_impl1.ibs
MachXO2/Examples/VHDL/LED_Scanner/impl1/.vdbs/LED_Scanner_impl1_map.vdb
MachXO2/Examples/VHDL/LED_Scanner/impl1/.vdbs/LED_SCANNER_block_tech.vdb
MachXO2/Examples/VHDL/LED_Scanner/rev_1/synlog/syntax_constraint_check.rpt.rptmap
MachXO2/Examples/VHDL/LED_Scanner/rev_1/synlog/layer0.tlg.rptmap
MachXO2/Examples/VHDL/LED_Scanner/rev_1/synlog/LED_scanner_fpga_mapper.xck
MachXO2/Examples/VHDL/LED_Scanner/rev_1/synlog/LED_scanner_compiler.srr.rptmap
MachXO2/Examples/VHDL/LED_Scanner/impl1/launch_synplify.tcl
MachXO2/Examples/VHDL/LED_Scanner/impl1/impl1_syn.prj
MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1.tw1
MachXO2/Examples/VHDL/LED_Scanner/.spread_sheet.ini
MachXO2/Examples/VHDL/LED_Scanner/.setting.ini
MachXO2/Examples/VHDL/LED_Scanner/.run_manager.ini
MachXO2/Examples/VHDL/LED_Scanner/.ncd_editor.ini
MachXO2/Examples/VHDL/LED_Scanner/.floorplanner.ini
MachXO2/Examples/VHDL/LED_Scanner/rev_1/synwork/LED_scanner_prem.fse
MachXO2/Examples/VHDL/LED_Scanner/rev_1/synwork/.complist
MachXO2/Examples/VHDL/LED_Scanner/impl1/impl1.sei
