MachXO2/Examples/VHDL/LED_Scanner/impl1/LED_Scanner_impl1_summary.html
MachXO2/Examples/VHDL/LED_Scanner/LED_Scanner1.sty
MachXO2/Examples/VHDL/LED_Scanner/LED_Scanner.lpf
MachXO2/Examples/VHDL/LED_Scanner/.recovery
MachXO2/Examples/VHDL/LED_Scanner/LED_Scanner.ldf
MachXO2/Examples/VHDL/LED_Scanner/impl1/._Real_._Math_.vhd
MachXO2/Examples/VHDL/LED_Scanner/impl1/hdla_gen_hierarchy.html
*.xml
*.rpt
*.txt
*.html
*.xdm
*.log
*.prf
*.par
*.pad
*.p3t
*.ngo
*.ngd
*.ncd
*.mrp
*.jed
*.edi
*.asd
*.bgn
*.areasrr
*.alt
*.xcf
*.build_status
*.lpf
*.ldf
*.tcr
*.db
*.tlg
*.srs
*.fdeporig
*.fdep
*.srd
*.hrr
*.cam
*.t2b
*.srr
*.srm
*.srf
*.pt
*.szr
*.2
*.1
*.bak
*.cckTransfer
*.htm
*.plg
